*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans" ;
}

html, body{
    width: 100%;
    height: 100%;
}
#minicircle{
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    z-index: 99990;
    border-radius: 50%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.bounding{
    width: fit-content;
    /* background-color: red; */
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);
}
#main{
    width: 100%;
    height: auto;
    background-color: black;
    
   
}
#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
#nav{
    width: 100%;
    padding: 20px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h4{
    opacity: .4;
    
}
#nav a{
 color: #fff;
 text-decoration: none;
 font-size: 18px;
 opacity: .4;
}
#heading{
 padding-top: 5vw;
}
#heading h1{
    margin-left: 90px;

    /* font-family: "General Sans Medium"; */
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    opacity: .2;
}
#heading #secondh1{
    margin-left: 290px;
}
.blocktext{
    width: fit-content;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: end;
    flex-direction: column;
}
.blocktext h5{
    text-align: right;
    opacity: .2;
    text-transform: uppercase;
    font-size: 15px;
}
#smallheadings{
    margin-top: 100px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#smallheadings h5{
    text-transform: uppercase;
    text-align: right;
    font-size: 1vw;
    margin-top: .5vw;     
    opacity: .4; 
}
#herofooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 19vh; */
    bottom: 3%;
    width: 100%;
    position: absolute;
    padding: 0 2vw;
}
#herofooter a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    opacity: .4;
}
#herofooter #iconset{
    display: flex;
    gap: 5px;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
}
#second{
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top:100px;
    padding-right: 10vw;
    padding-left: 4vw;
    color: white;



}
.elem{
    width: 100%;
    border-top: 1px solid #888;
    padding: 2vw 2.5vw;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
}
.elem h1{
    text-transform: uppercase;
    font-size: 6vw;
    opacity: .4;
}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem h5{
    font-size: 1.4vw;
    opacity: .4;
}
.elem img{
    position: absolute;
    z-index: 999;
    height: 190%;
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%);
}
#about{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 120px;
    color: white;
    padding: 10vw 3vw;
    padding-left: 35vw;
    width: 100%;
    background-color: black;
}
#about img{
    width: 200px;
    opacity: .5;
    border-radius: 100px;
    background-color: #020933;
    /* mix-blend-mode: color-burn; */
    /* background-blend-mode:darken ; */
}
#textabout{
    width: 35rem;
    /* background-color: red; */
}
#textabout h5{
    text-transform: uppercase;
    opacity: .4;
    margin-bottom: 10px;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
    opacity: .4;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-size: 12px;
}
#subscribe{
    background-color: black;
    color: white;
    padding: 20px 30px;
    padding-bottom: 7vw;
}
#subscribe h5{
    text-transform: uppercase;
    opacity: .4;
} 
#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    opacity: .4;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: black;
    color: white;
    /* opacity: .4; */
}
#footerleft{
display: flex;
gap: 20px;
}
#footerright{
display: flex;
gap: 30px;
}
#footer a{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    opacity: .4;
}
#footer h5{
    opacity: .4;
}
